{
    margin : 0pix;
    padding : 0pix;
    box-sizing : border-box;
    
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    button {
        font-family: 'poppins',sans-serif;
    }
    header {
        display: flex;
        
        width: 90%;
        height: 30vh;
        Margin: auto;
        align-items:center;
    }
    .logo-container,.nav-links, .cart {
        display: flex;
    }
    
    .logo-container{
    flex: 1;
    }
    .logo {
        font-weight: 400;
        margin: 5pix;
    }
    nav{
        
        flex:2;
    }
    .nav-links{
        justify-content: space-around;
        list-style: none;
    }
    .nav-links{
        color: blue;
        font-size: 18px;
        text-decoration: none;
    }
    .cart{
        
        flex: 1;
        justify-content: flex-end;
    }
    .presentation {
        display: flex;
        width: 90%;
        margin: auto;
        min-height: 80vh;
        align-items: center;
    }
    .introduction {
    
        flex: 1;
    }
    .intro-text h1 {
        font-size: 44px;
        font-weight: 500;
        background: linear-gradient(to right,color blue,color green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .intro-text p {
        margin-top: 5px;
        font-size: 22px;
        color : grey
    }
    .cta{
        padding: 50px 0px 0px 0px;
    }
    .cta-select {
        border: 2px solid blue;
        background:  transparent;
        color: rgb(60, 32, 218);
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
    }
    .cta-add {
        border: 2px solid blue;
        background: transparent;
        width: 150px;
        height: 50px;
        cursor: pointer;
        font-size: 16px;
        margin: 30px 0px 0px 30px;
    }
    .cover img{
        height: 60vh;
    }